@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
i, i::after, i::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}
a{
    color:black !important;
}
body{
    background-color: #fafafa;
}
.auth-card{
    min-width: 350px;
    max-width: 500px;
    margin:30px auto;
    padding:25px;
    text-align:center;
    width: 50%;
}
.btn{
    margin-top:10px;
}
.brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid  #64b5f6 !important;
    box-shadow: 0 1px 0 0 #64b5f6 !important;
  }
  .input-field input[type=password]:focus {
    border-bottom: 1px solid  #64b5f6 !important;
    box-shadow: 0 1px 0 0 #64b5f6 !important;
  }
.container{
    margin-top: 25px;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
}
.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header{
    display: flex;
    margin: 0 0 10px 0;
    /* justify-content: space-between; */
}
.posts{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 110%;
}
.desc{
    word-wrap: break-word;
    width:350px;
}

.gallery{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
}

.item{
    width: 30%;
    min-width: 300px;
    margin:1em;
    border: 1px solid grey;
}
.my-card{
    width: 40%;
    min-width: 450px;
    height: auto;
    margin:50px auto;
}
.input-field1{
    border-bottom: 0.5px solid	#E8E8E8 !important;
  }
  .input-field1:focus{
    box-shadow: 0 1px 0 0 #E8E8E8 !important;
  }
.img{
    border-radius:50% !important;
    border:2px solid red;
    padding:2px;
    width:40px !important;
    height:40px;
    margin-right:10px;
}
.card-content{
    padding-top:0px !important;
    padding-left:10px !important;
}
.post-image{
    overflow: hidden;
    position: relative;
    /* cursor: pointer; */
}
.post-image i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:red;
    opacity: 0.8;
    z-index: 99;
    font-size: 100px;
    display: none;
}